---
title: 'Analysieren Sie AEM Cloud Manager-Testergebnisse. '
description: Ergebnisse von Berichten aus AEM Cloud Manager überprüfen und korrigieren
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Testergebnisse analysieren

Überprüfen Sie alle Kompilierungsfehler in Ihrem Code und ob dieser Code die Best Practices für AEM als Cloud Service befolgt

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)