---
title: Analysieren der AEM Cloud Manager-Testergebnisse
description: Analysieren und Korrigieren der Ergebnisse von Berichten aus AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: b3e9251bdb18a008be95c1fa9e5c79252a74fc98
workflow-type: ht
source-wordcount: '81'
ht-degree: 100%

---

# Analysieren der Testergebnisse {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analysieren der Testergebnisse"
>abstract="Erkennen Sie etwaige Kompilierungsfehler in Ihrem Code und finden Sie heraus, ob dieser Code den Best Practices für AEM as a Cloud Service entspricht."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=de#how-to-use" text="Wissenswertes zu Testergebnissen"

Erkennen Sie etwaige Kompilierungsfehler in Ihrem Code und finden Sie heraus, ob dieser Code den Best Practices für AEM as a Cloud Service entspricht.

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
