---
title: Analysieren AEM Cloud Manager-Testergebnisse
description: Ergebnisse von Berichten aus AEM Cloud Manager analysieren und korrigieren
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: bca51ece7a9b249727b8746cc9654503059116fb
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 17%

---

# Testergebnisse analysieren {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Testergebnisse analysieren"
>abstract="Erfahren Sie mehr über Kompilierungsfehler in Ihrem Code und ob dieser Code Best Practices für AEM as a Cloud Service anwendet."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=de#how-to-use" text="Wissenswertes zu Testergebnissen"

Untersuchen Sie alle Kompilierungsfehler in Ihrem Code und ob dieser Code Best Practices für AEM as a Cloud Service anwendet.

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
