---
title: 'Analysieren Sie AEM Cloud Manager-Testergebnisse. '
description: Ergebnisse von Berichten aus AEM Cloud Manager überprüfen und korrigieren
role: Developer
level: Beginner
type: Tutorial
topic: Entwicklung
feature: Entwickler-Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---


# Testergebnisse analysieren

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Testergebnisse analysieren"
>abstract="Überprüfen Sie alle Kompilierungsfehler in Ihrem Code und ob dieser Code die Best Practices für AEM als Cloud Service befolgt"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=de#how-to-use" text="Wissenswertes zu Testergebnissen"

Überprüfen Sie alle Kompilierungsfehler in Ihrem Code und ob dieser Code die Best Practices für AEM als Cloud Service befolgt

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
